.bottom {
    background-color: rgb(30, 114, 114) ;
    height: 200px;
    width: 100%;
    margin-top: 30px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.logo a:hover {

   
    box-shadow: 2px 2px 10px black;

}

#log1 {
    font-size: 2rem;
    color: rgb(12, 26, 222);

}

#log2 {
    font-size: 2rem;
    color: rgb(189, 17, 37);
}

#log3 {
    font-size: 2rem;
    color: rgb(0, 0, 0);
}

#log4 {
    font-size: 2rem;
    color: rgb(5, 22, 129);
}

#log5 {
    font-size: 2rem;
    color: rgb(225, 32, 6);
}

#log6 {
    font-size: 2rem;
    color: green;
}

#log7 {
    font-size: 2rem;
    color: orange;
}

.app {
    margin-top: 20px;
    display: flex;

    justify-self: center;
    align-items: center;
    gap: 40px;
}

.app a {
    text-decoration: none;
    color:
        rgb(251, 251, 251);
}
.app a:hover{
    color: black;
    font-size: 1.2rem;
}


.bot-1 .logo a {
    margin-top: 30px;

}

.copy {
    margin-top: 20px;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.copy p { 
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}



@media (max-width: 1000px) {
    .logo {
        gap: 5px;
        margin-right: 100px;
    }

    .logo a {

        font-size: 10px;
    }

    .app {
        margin-right: 100px;
        gap: 20px;
    }

    .app a {
        font-size: 16px;
    }
}

@media (max-width: 600px) {
    .logo {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .logo a {
        font-size: 22px;
    }

    .app {
        flex-direction: column;
        gap: 10px;
    }

    .app a {
        font-size: 14px;
    }

    .copy p {
        margin-right: 100px;
        font-size: 12px;
    }
}